* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 18px;
}

body{
     background: #777
}

header {
	position: top;
	padding: 20px;
	margin: 20px;
	clear: both;
	background-color: #ebebeb;
}

h1 {
	position: relative;
	padding: 20px;
	margin: 20px;
	clear: both;
	background-color: #ebebeb;
}

p {
	padding: 20px;
	margin: 20px;
	clear: both;
	background-color: #ebebeb;	
}

#left {
  float: left;
  width: 33.3%;
  color: #fff;
  background-color: #ebebeb;
}

#relative {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
}

footer {
	padding: 20px;
    	clear: both;
	margin: 20px;
   	background-color: #ebebeb; 
}
