* {
    box-sizing: border-box;
    text-align: center;
	background: #eee;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 18px;
	
}

header {
	position: top;
	padding: 20px;
	margin: 0 auto;
	clear: both;
	background: #ccc;
}

h1 {
	position: relative;
	padding: 20px;
	margin: 0 auto;
	clear: both;
	background: #ccc;
}

p {
	padding: 20px;
	margin: 0 auto;
	clear: both;
	background: #ccc;	
}

#left {
  float: left;
  width: 33.3%;
  color: #fff;
  background: #666;
}


nav {
	position: fixed;
	padding: 20px;
	margin: 0 auto;
	clear: both;
	background: #ccc;
}

p,h1, header,footer{
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 18px;
}

#relative {
  position: relative;
  height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  background: #eee;
}

footer {
	padding: 20px;
    	clear: both;
	margin: 0 auto;
   	background: #eee; 
}
